@model Clinic_System.Models.Cita

@{
    ViewData["Title"] = "Create";
}

<h1 class="page-title">Nueva Cita</h1>
<div asp-validation-summary="All"></div>
<div class="card">

    <form asp-action="Create">

        <div class="form-group">
            <label asp-for="FechaCita" class="form-label"></label>
            <input asp-for="FechaCita"  class="form-input" />
            <span asp-validation-for="FechaCita" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descripcion" class="form-label"></label>
            <input asp-for="Descripcion" class="form-input" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdPaciente" class="form-label"></label>
            <select asp-for="IdPaciente" asp-items="ViewBag.Pacientes" class="form-input"></select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cita</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

    </form>

</div>

