@model Clinic_System.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<h1 class="page-title">Nueva Categoría</h1>

<div class="card">

    <form asp-action="Create">

        <div class="form-group">
            <label asp-for="NombreCategoria" class="form-label"></label>
            <input asp-for="NombreCategoria" class="form-input" />
            <span asp-validation-for="NombreCategoria" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Categoría</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

    </form>

</div>

