@model Clinic_System.Models.Atencion

@{
    ViewData["Title"] = "Create";
}

<h1 class="page-title">Nueva Atención</h1>

<div class="card">

    <form asp-action="Create">

        <div class="form-group">
            <label asp-for="FechaAtencion" class="form-label"></label>
            <input asp-for="FechaAtencion" class="form-input" />
            <span asp-validation-for="FechaAtencion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Observacion" class="form-label"></label>
            <input asp-for="Observacion" class="form-input" />
            <span asp-validation-for="Observacion" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdCita" class="form-label"></label>
            <select asp-for="IdCita" asp-items="ViewBag.Citas" class="form-input"></select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Atención</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
