<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinic_System</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/crud.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Clinic_System.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="BarNav" id="sideNav">
        <div class="TitleNav">
            <img src="~/recurses/img/Clini-System_Icon.png" alt="">
            <h1>Clinic System</h1>
        </div>
        <div class="Navegador">
            <div class="NavTop">
                <ul>

                    <!-- Dashboard -->
                    <li class="Lista">
                        <a asp-controller="Home" asp-action="Index">
                            Dashboard
                        </a>
                    </li>

                    <!-- Pacientes -->
                    <li class="Lista has-submenu">
                        <div class="menu-title">Pacientes</div>
                        <ul class="submenu">
                            <li><a asp-controller="Paciente" asp-action="Index">Pacientes</a></li>
                        </ul>
                    </li>

                    <!-- Médicos -->
                    <li class="Lista has-submenu">
                        <div class="menu-title">Médicos</div>
                        <ul class="submenu">
                            <li><a asp-controller="Medico" asp-action="Index">Médicos</a></li>
                            <li><a asp-controller="Especialidad" asp-action="Index">Especialidades</a></li>
                        </ul>
                    </li>

                    <!-- Citas -->
                    <li class="Lista has-submenu">
                        <div class="menu-title">Citas - Atencion</div>
                        <ul class="submenu">
                            <li><a asp-controller="Cita" asp-action="Index">Citas</a></li>
                            <li><a asp-controller="Atencion" asp-action="Index">Atencion</a></li>
                            <li><a asp-controller="TipoCita" asp-action="Index">Tipos de Cita</a></li>
                        </ul>
                    </li>

                    <!-- Medicamentos -->
                    <li class="Lista has-submenu">
                        <div class="menu-title">Medicamentos</div>
                        <ul class="submenu">
                            <li><a asp-controller="Medicamento" asp-action="Index">Medicamentos</a></li>
                            <li><a asp-controller="Categoria" asp-action="Index">Categorías</a></li>
                        </ul>
                    </li>

                    <!-- Tratamientos -->
                    <li class="Lista has-submenu">
                        <div class="menu-title">Tratamientos</div>
                        <ul class="submenu">
                            <li><a asp-controller="Tratamiento" asp-action="Index">Tratamientos</a></li>
                            <li><a asp-controller="DetalleTratamiento" asp-action="Index">Detalle</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="general">
        <main role="main" class="main-container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/_Layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
