.crud-container {
    padding: 25px;
}
.crud-header h2 {
    margin: 0;
    color: #1e293b;
    font-size: 38px;
    font-weight: 700;
}

.crud-header p {
    margin: 6px 0 0;
    color: #64748b;
    font-size: 16px;
}