@model Clinic_System.Models.Paciente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombpaciente" class="control-label"></label>
                <input asp-for="nombpaciente" class="form-control" />
                <span asp-validation-for="nombpaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apepaciente" class="control-label"></label>
                <input asp-for="apepaciente" class="form-control" />
                <span asp-validation-for="apepaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dnipaciente" class="control-label"></label>
                <input asp-for="dnipaciente" class="form-control" />
                <span asp-validation-for="dnipaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fchnaci" class="control-label"></label>
                <input asp-for="fchnaci" class="form-control" />
                <span asp-validation-for="fchnaci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="corrpaciente" class="control-label"></label>
                <input asp-for="corrpaciente" class="form-control" />
                <span asp-validation-for="corrpaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tflpaciente" class="control-label"></label>
                <input asp-for="tflpaciente" class="form-control" />
                <span asp-validation-for="tflpaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
