@model Clinic_System.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}

<h1 class="page-title">Eliminar Paciente</h1>

<div class="card">

    <p>¿Seguro que deseas eliminar este paciente?</p>

    <div class="detail-row">
        <div class="detail-label">Nombre:</div>
        <div class="detail-value">@Model.Nombre</div>
    </div>

    <div class="detail-row">
        <div class="detail-label">Apellido:</div>
        <div class="detail-value">@Model.Apellido</div>
    </div>

    <div class="detail-row">
        <div class="detail-label">DNI:</div>
        <div class="detail-value">@Model.DNI</div>
    </div>

    <div class="detail-row">
        <div class="detail-label">Correo:</div>
        <div class="detail-value">@Model.Correo</div>
    </div>

    <br>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPaciente" />

        <button type="submit" class="btn btn-danger">
            Eliminar
        </button>

        <a asp-action="Index" class="btn btn-secondary">
            Cancelar
        </a>

    </form>

</div>